<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tugas1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container d flex justify-center">
        <div class="centered">
    <h1 class="text-center" style="margin-top: 60px; font-family: 'Times New Roman', Times, serif;">Pengendalian Gulma pada Tanaman Jagung </h1>
<hr>
        <p align="justify" style="text-indent: 1%; font-family:Arial, Helvetica, sans-serif;"> 
            Usaha pertanian tanaman jagung di Indonesia memiliki prospek bisnis yang baik. 
            Kebutuhan jagung terus meningkat setiap tahunnya. Hal ini seiring dengan meningkatnya kebutuhan konsumsi penduduk dan kebutuhan industri yang menggunakan jagung sebagai bahan baku 
            seperti industri makanan dan pakan ternak. Dalam praktik budidaya tanaman jagung, produktivitas tanaman dapat dipengaruhi beberapa faktor, antara lain kondisi lahan, penggunaan bibit, 
            penggunaan pupuk, hama dan penyakit serta gangguan gulma.
    </p>
<br>
    <h2 style="color:lawngreen; font-family:Arial, Helvetica, sans-serif; ">Gulma pada Tanaman Jagung</h2>
<hr>
<br>
    <h3 style="color: black; font-family: Arial, Helvetica, sans-serif; ">1. Gulma golongan rumput</h3>
      <p align="justify" style="text-indent: 2% ; font-family:Arial, Helvetica, sans-serif;" >  Termasuk dalam familia Gramineae/ Poaceae. 
        Dengan ciri-ciri batang berbentuk bulat pipih, daun soliter pada buku-buku, tersusun dalam dua deret, serta umumnya bertulang daun sejajar. 
        Daun terdiri atas dua bagian yaitu pelepah daun dan helaian daun. Contohnya Eleusine indica (kelangan), 
        Panicum paludosum Roxb., Oryza sativa L., Cynodon dactylon (rumput kakawatan), 
        Echinochloa colona (jajagoan leutik) dan Imperata cylindrica (alang-alang).
    </p>

    <h2 style="color:aqua; font-family: Arial, Helvetica, sans-serif; ">2. Gulma teki</h2>
        <p align="justify" style="text-indent: 2%;" >Termasuk dalam familia Cyperaceae. Cirinya batang berbentuk segitiga, terkadang berbentuk bulat dan biasanya tidak berongga. 
            Daun tersusun dalam tiga deretan, tidak memiliki lidah-lidah daun. Tangkai bunga tidak berbuku-buku. Contohnya Cyperus rotundus (teki).
    </p>

    <h2 style="color:blueviolet; font-family: Arial, Helvetica, sans-serif;">3. Gulma daun lebar</h2>
        <p align="justify" style="text-indent: 2%;font-family: Arial, Helvetica, sans-serif;" > Termasuk dalam famili Dicotyledoneae dan Pteridophyta. Daun lebar dengan tulang daun berbentuk jala. Contohnya Portulaca olera (krokot), Borreria alata (goletrak/rumput setawar), 
            Commelina benghalensis (gewor), Amaranthus spinosus (bayam duri), Ageratum conyzoides (babandotan) dan Physalis longifolia (ciplukan).
    </p>
<br>
    <h2 style="color:crimson;">Pengendalian Gulma pada Tanaman Jagung</h2>
<hr>
        <p align="justify" style="text-indent: 2%;" >Untuk mencapai produktivitas tanaman jagung yang optimal, salah satu hal yang diperhatikan adalah pengendalian gulma. Prinsip utama dalam pengendalian gulma pada budidaya tanaman ialah menekan laju pertumbuhan dan perkembangan 
            gulma sebelum merugikan tanaman. Metode dan frekuensi pengendalian gulma tergantung pada jenis gulma dan kecepatan pertumbuhan gulma di lahan.
    </p>
        <p align="justify" style="text-indent: 2%;" > Pengendalian gulma pada tanaman jagung dapat dilakukan dengan beberapa cara antara lain:
    </p>
</div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>